Программа написана в VisualStudio 2019
Компилятор MSVC
Для того, чтобы запустить программу, нужно:
1. собрать проект с помощью CMake
2. изменить "конфигурацию решения" с "Debug" на "Realese"
3. прожать комбинацию клавиш "Ctrl+F5"
Управление осуществляется клавишами "Left", "Right" для первого игрока и клавишами "A", "D" для второго